.tHeader{
width: 100%;
height: 60px;
background-color: var(--bg);
display: flex;
justify-content: space-between;


}

.i18icon{
  padding-top: 10px;

position: relative;
      font-size: 3rem;
      background: none;
    cursor: pointer;
    background-color: var(--bg);
    position: static;
}

.logo{
  z-index: 2;
  padding-right: 800px;

}